<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
</script>
<div class="well">
    <h3>
        Document found!
    </h3>
    <p>
        The document http://...... was submited to Bitcoin blockchain on 01/01/1970.
    </p>
    <div>
        ID of transaction is ....
    </div>
    <div>
        Document ID is 1234-2345
    </div>
    <div>
        You can check the submission on any &nbsp;bitcoin blockchain browser --
        http://www.blocktrail.com/BTC/tx/....
    </div>
    <div>
        <br>
    </div>
    <p>
    </p>
</div>
<div class="container">
    <iframe id="iframepdf" src="/pdf">
    </iframe>
</div>
</body>

</html>