<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
>
</script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
>
</script>
<div class="well">
    <h3>
        Well done!
    </h3>
    <p>
        This the document based on <a href="{{ url }}">{{ url }}</a> id <a href="pdf/{{ fname }}">{{ fname }}</a> was
        submited to Bitcoin blockchain.
    </p>
    <div>
        ID(s) of transaction are: {% for t in txids %} <br>
        <a href="https://www.blocktrail.com/tBTC/tx/{{ t }}">{{ t }}</a>{% endfor %}
    </div>
    <div>
        Reference ID is {{ ref }}
    </div>
    <div>
        You can check the submission on any &nbsp;bitcoin blockchain browser -- at
        <a href="http://{{ coinbase }}">{{ coinbase }}</a> for example.
    </div>
    <div>
        Save this data for your reference!
    </div>

    <div>
        <br>
    </div>
    <p>
    </p>
</div>
</body>

</html>