<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="well">
        <h3>
            URL to put into bitcoin blockchain
        </h3>
        <p>
            This should be public URL. Not "friends-only" or "login to view"
        </p>
        <form action="/notarize" method="post">
            <div class="form-group">
                <label>
                    Enter here:
                </label>
                <textarea class="form-control" name="url"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Continue</button>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
>
</script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
>
</script>
</body>

</html>